* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri, serif;

}
a:hover {
    color: #AEADB2;
    background-color: transparent;
}

.services {
    background-color: red;
}

html, body, article {
    background-color: #F8F8F8;
    overflow-x: hidden;
    overflow-y: hidden;


}

h3 {
    text-align: center;
    background-position: center;
}


h2 {
    margin: 40px auto;
    font-size: 2.25rem;
    text-align: center;
    color: #6A6874;
}


h3 {
    margin: 20px;
    color: #6A6874;

}

.contact ul {
    list-style-type: none;
}

span {
    text-align: center;
    display: block;

    background-color: cornflowerblue;
    padding: 10px;
    color: white;
    font-size: 1.25rem;
    border-radius: 25px;
    width: 50%;
    background-position: center;
    margin: 0 auto;


}

h4 {
    font-family: "Berlin Sans FB", serif;
    color: blue;
    text-align: center;
    margin: 30px auto;
    font-size: 1.56rem;
}

img {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

p.description {
    text-align: center;
    margin: 20px auto;
    font-size: 1.25rem;
    width: 90%;

}

.about-us ul {
    align-content: center;
}

/*CLASS ELEMENT*/


.about-us {
    width: 60%;
    margin: 50px auto 0;
}

.about-us h1 {
    text-align: center;
}

.about-us p, .brand-work-with {
    margin-top: 50px;
}
.brand-work-with{
    display: flex;
    list-style-type: none;
    justify-content: space-around;


}
.brand-work-with a{
    text-align: center;
}


@media screen and (max-width: 600px){
    .block{
        flex-wrap: wrap;
    }
}
    .block{
        display: flex;
        justify-content: space-around;
        margin: auto;
width: 80%;
        margin-bottom: 20px;
        z-index: -1;
    }

.block-pic {

    width: 500px;
    box-shadow: 20px 20px 50px 15px grey;
    border-radius: 20px;
    height: 500px;
    background-color: white;
    min-width: 300px;
    margin: 7px ;
}


/*ID ELEMENT*/
#photo_Background {
    height: 300px;
    background-image: url(../images/headerBackground.jpg);
    background-position: center;
}

form{ background-color: red}
#container {
   display: grid;
    height: 490px;
    background-color: blue;
    justify-content: center;

}


.reservation-1{
    grid-template:  repeat(8, 1fr)/ 1fr 1fr;
}
.reservation-2, .reservation-1 {
    align-items: center;
    justify-content: center;

    display: grid;
    width: 250px;

}



footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /*position: relative;*/
    background-color: #46464a;
    border: blue 2px solid;
    height: auto;
    padding: 30px;
    margin-top: 50px;
}


.logo2 {

    width: 30%;

}

footer .link {
    text-decoration: none;

}



.contact li, .link li {

    padding: 14px 30px;
    text-decoration: none;
    font-size: 1.25rem;
}
.contact li{
    text-align: center;

}
.contact{
    margin-top: 20px;
}


