<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/design/style.css}" type="text/css">

    <title>Home | Bain Communications</title>
    <script th:src="@{/components/header.js}" type="text/javascript" defer></script>
    <script th:src="@{/components/footer.js}" type="text/javascript" defer></script>

    <link rel="stylesheet" href="../static/design/style.css">
</head>

<body>
<header-component>

</header-component>

<article>
    <div class="about-us">
        <h1>Who we are, and what can we do fo you</h1>
        <p >A smart home or office is just a few steps away. Imagine pausing a movie to have lights come
            on so you
            can find what you’re looking for, or gathering with a group of friends to watch the big game on a beautiful
            outdoor television and home theater; a voice command to dim your lights,
            lower your shades and play your favorite music.
        </p>
        <img src="/images/TVPhoto/tvphoto.jpg">
        <p >
            Mounting your TV is the ideal way to get the best television experience possible. From watching your
            shows
            at the best possible angle to giving a modern style to your living room or media room, our expert
            technicians
            are here to help you create a mounted TV setup your family and friends will love. When mounting,
            hanging,
            and installing your television, we take size, setup, external components, cable hiding, and power
            installation
            into mind in order to give you a completely customized, streamlined, and aesthetically-pleasing installation<br>
        </p>
        <img src="/images/TVPhoto/tvphoto20.jpg" alt="tv photo">


    </div>

    <div class="about-us">
        <h1> Company we have worked with</h1>
        <ul class="brand-work-with">
            <li>Samsung</li>
            <li>google</li>
            <li>Apple</li>
            <li>Motorola</li>
            <li>Home depot</li>
            <li>Walmart</li>

        </ul>
    </div>
</article>
<footer-component></footer-component>
</body>
</html>