<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/design/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Home | Bain Communications</title>
    <script th:src="@{/components/header.js}" type="text/javascript" defer></script>
    <script th:src="@{/components/footer.js}" type="text/javascript" defer></script>
    <style>
        h1{
            color: red;
        }
    </style>

</head>

<body>
<header-component>

</header-component>
<article>
    <h1 class="nu">Myname is Jean Yves</h1>
        <button onClick='document.querySelector(".nu").style.color="blue"'> click me</button>

</article><script>
    function f() {

        document.querySelector(".nu").style.color="blue";
    }

</script>
<footer-component></footer-component>

</body>
</html>