<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "icon" href =
            "http://localhost:8080/images/bainLogo91.png"
          type = "image/x-icon">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/design/style.css}">

    <title>Home | Bain Communications</title>
    <script th:src="@{/components/header.js}" type="module" defer></script>
    <script th:src="@{/components/footer.js}" type="module" defer></script>
    <script th:src="@{/components/main.js}" type="module" defer></script>
</head>

<body>
<header-component>
</header-component>
<div class="rvt"><div class="prac"><h1 class="uo">Page In Construction</h1></div></div>
<article>


    <calendar-component></calendar-component>
</article>
<footer-component></footer-component>
</body>

</html>