<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "icon" href =
            "http://localhost:8080/images/bainLogo91.png"
          type = "image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/design/style.css}">


    <meta charset="UTF-8">
    <title>Reservation | Bain Communications</title>
    <script th:src="@{/components/header.js}" type="module" defer></script>
    <script th:src="@{/components/footer.js}" type="module" defer></script>

</head>
<body>
<header-component></header-component>

<form method="post" th:action="@{/reserve}" th:object="${reservation}" id="reservationForm">
    <div class="reservation-" id="container">
        <div class="reservation-1">
            <div class="reservation-form">
                <label for="firstname">First Name: </label>
            </div>
            <div>
                <input class="input-field" id="firstname" type="text"/>
            </div>
            <div class="reservation-form">
                <label for="lastname">Last Name: </label></div>
            <div class="reservation-form"><input class="input-field" id="lastname" type="text"/>
            </div>
            <div class="reservation-form">
                <label for="address">Address: </label></div>
            <div class="reservation-form"><input class="input-field" id="address" type="text"/>
            </div>
            <div class="reservation-form">
                <label for="city">City: </label></div>
            <div class="reservation-form"><input class="input-field" id="city" type="text"/>
            </div>
            <div class="reservation-form">
                <label for="state">State: </label></div>
            <div class="reservation-form"><input class="input-field" id="state" type="text"/>
            </div>
            <div class="reservation-form">
                <label for="zip">Zip: </label></div>
            <div class="reservation-form"><input class="input-field" id="zip" type="text"/>
            </div>
            <div class="reservation-form">
                <label for="date">Pick a date</label></div>
            <div class="reservation-form"><input th:field="*{date}" id="date" type="date"/>
            </div>

            <div class="reservation-form">
                <label for="time">Select a time:</label>
            </div>
            <div class="reservation-form"><input type="time" id="time" th:field="*{time}"/>
            </div>
            </div>


           <div class="reservation-2"> <div class="reservation-form b"><label>Choose the services you need</label><br>
                <div th:each="service : ${allServices}">

                    <input id="services" th:field="*{serviceList}" type="checkbox"
                           th:value="${service}"/>

                    <label th:text="${service}">SERVICE</label>
                </div>
            </div>
        </div>
        <div class="btn"><input type="submit" value="Reserve"/></div>
    </div >

</form>


</body>

</html>